.intra-cub__tab {
    display: flex;
    font-size: 1rem;
    text-align: center;
}

.intra-cub__tab-cab {
    background: lightgray;
    font-weight: bold;
}


.intra-cub__tab div:nth-child(2),
.intra-cub__tab div:nth-child(4) {
    flex: 20; 
    border: 1px solid white;
    padding: 5px 0; 
}

.intra-cub__tab div:nth-child(1),
.intra-cub__tab div:nth-child(3),
.intra-cub__tab div:nth-child(5) {
    flex: 10;
    border: 1px solid white;
    padding: 5px 0;
}

.intra-cub__periodo-main {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 700px;
    overflow: hidden;
}

.intra-cub__periodo-container-button {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5px 20px;
}

.intra-cub__periodo-button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ckk-cub__show {
    height: 100%;
    max-height: 0;

    overflow: hidden;
    transition: all 0.5s ease;
}

#ckk-cub:checked ~ .ckk-cub__show {
    max-height: 500px;
    transition: all 0.5s ease;
}
.ckk-cub__span {
    color: white;
}



@media print {


    @page {
        size: A4;  
        margin: 70pt 60pt 170pt;
        counter-increment: page;
    }

    .printable div,
    .printable h3 {
        visibility: visible;
        width: 100%;
        margin: 0;
    }

    .title {
        position: fixed;
        left: 0;
        top: 0;
    }

  }