:root {
    --erp-menu__altura: 1000px;
}

#nerp-nav__ck-show:checked ~ .nerp-nav {
    transform: translateX(450px);
    transition: all .5s; 
}

.nerp-nav {
    background: white;
    max-width: max-content;
    min-width: min-content;
    height: 100%;
    position: absolute;
    left: -450px;
    top: 0;
    transform: translateX(0px);
    transition: all .5s;
    padding-top: 20px;
    margin: 0;
    overflow-y: scroll;
}

.nerp-nav__space {
    margin-left: 8px;
}

.nerp-nav__ul {
    height: 100%;
    padding: 0;
    margin: 0 5px 0 30px;
}

.nerp-nav__li {
    list-style: none;
    padding: 10px 0px;
}

.nerp-nav__li:hover {
    cursor: pointer;
}

.nerp-nav__alinha-icone {
    display: flex;
    align-items: center;
    
}

.not-show  {
    transition: max-height 0.3s;
    overflow: hidden;
    max-height: 0;
}

.ico {
    transform: rotate(0deg);
    transition: 0.2s ease-in-out;
}

input:checked ~ span .ico {
    transform: rotate(90deg);
    transition: 0.2s ease-in-out;
}

/* *****     Esconde lista     ***** */
.ck-mostrar ~ .ul-mostrar  {
    transition: max-height 0.3s;
    overflow: hidden;
    max-height: 0;
}

/* *****     Mostra lista     ***** */
.ck-mostrar:checked ~ .ul-mostrar {
    max-height: var(--erp-menu__altura);
    transition: 0.3s ease-in-out;
}

.nerp-nav__li input:checked ~ span {
    font-weight: bold;
}

/* *****     Ícone     ***** */

.erp-menu__icone-container {
    background: rgba(255, 255, 255, .2);
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    left: 30px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.erp-menu__icone-container:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .4);
    transition: 0.2s ease-in-out;
}

.erp-menu__icone-hamburger {
    display: block;
    width: 30px;
    height: 2px;
    background: white;
    position: relative;
    top: 24px;
    left: 10px;
    transition: 0.5s ease-in-out;
}

.erp-menu__icone-hamburger:before,
.erp-menu__icone-hamburger:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.erp-menu__icone-hamburger:before {
    top: -10px;
}

.erp-menu__icone-hamburger:after {
    bottom: -10px;
}

#nerp-nav__ck-show:checked ~ label .erp-menu__icone-hamburger {
    transform: rotate(45deg);
    background: white;
}

#nerp-nav__ck-show:checked ~ label .erp-menu__icone-hamburger:before {
    transform: rotate(90deg);
    top: 0;
    background: white;
}

#nerp-nav__ck-show:checked ~ label .erp-menu__icone-hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
    background: white;
}

#nerp-nav__ck-show:checked ~ label .erp-menu__icone-container {
    left: 300px;
    transition: 0.2s ease-in-out;
    background: rgba(0, 0, 0, .4);
}

#nerp-nav__dropdown-fundo {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

#nerp-nav__ck-show:checked ~ #nerp-nav__dropdown-fundo {
    opacity: 1;
    transition: 0.5s ease-in-out;
}


@media (min-width: 460px) {
    
    #nerp-nav__ck-show:checked ~ label .erp-menu__icone-container {
        left: 430px;
        transition: 0.5s ease-in-out;
        background: rgba(255, 255, 255, .3);
    }

    #nerp-nav__ck-show:checked ~ label .erp-menu__icone-container:hover {
        transition: 0.5s ease-in-out;
        background: rgba(255, 255, 255, .4);
        transition: 0.1s ease-in-out;
    }

    
}