
.erp-nav {
    max-width: max-content;
    height: 100%;
}

.erp-nav ul {
    padding: 0;
    margin: 0;
}

.erp-nav ul li {
    list-style: none;
    padding: 10px 15px;
    /* width: 100%; */
    /* display: inline-block; */
}

.erp-nav ul li:hover {
    /* background: lightgrey; */
    cursor: pointer;
}



.erp-submenu li {
    list-style: none;
    padding: 10px 0;
    width: 100%;
    margin-left: 25px;
}

#sub-0101,
#sub-0102,
#sub-0103,
#sub-0104,
#sub-0105,
#sub-0106,
#sub-0107,
#sub-0108,
#sub-0109,
#sub-0110,
#sub-0111,
#sub-0112,
#sub-0113,
#sub-0114,
#sub-0115 {
    transition: max-height 0.3s;
    overflow: hidden;
    max-height: 0;
}

#ck-0101:checked ~ #sub-0101 {
    max-height: 300px;
}

#ck-0101:checked ~ span #ico-0101 {
    transform: rotate(45deg);
}

#ck-0102:checked ~ #sub-0102 {
    max-height: 300px;
}

#ck-0102:checked ~ span #ico-0102 {
    transform: rotate(45deg);
}

#ck-0103:checked ~ #sub-0103 {
    max-height: 300px;
}

#ck-0103:checked ~ span #ico-0103 {
    transform: rotate(45deg);
}

#ck-0104:checked ~ #sub-0104 {
    max-height: 300px;
}

#ck-0104:checked ~ span #ico-0104 {
    transform: rotate(45deg);
}

#ck-0105:checked ~ #sub-0105 {
    max-height: 300px;
}

#ck-0105:checked ~ span #ico-0105 {
    transform: rotate(45deg);
}

#ck-0106:checked ~ #sub-0106 {
    max-height: 300px;
}

#ck-0106:checked ~ span #ico-0106 {
    transform: rotate(45deg);
}

#ck-0107:checked ~ #sub-0107 {
    max-height: 300px;
}

#ck-0107:checked ~ span #ico-0107 {
    transform: rotate(45deg);
}

#ck-0108:checked ~ #sub-0108 {
    max-height: 300px;
}

#ck-0108:checked ~ span #ico-0108 {
    transform: rotate(45deg);
}

#ck-0109:checked ~ #sub-0109 {
    max-height: 300px;
}

#ck-0109:checked ~ span #ico-0109 {
    transform: rotate(45deg);
}

#ck-0110:checked ~ #sub-0110 {
    max-height: 300px;
}

#ck-0110:checked ~ span #ico-0110 {
    transform: rotate(45deg);
}

#ck-0111:checked ~ #sub-0111 {
    max-height: 300px;
}

#ck-0111:checked ~ span #ico-0111 {
    transform: rotate(45deg);
}

#ck-0112:checked ~ #sub-0112 {
    max-height: 300px;
}

#ck-0112:checked ~ span #ico-0112 {
    transform: rotate(45deg);
}

#ck-0113:checked ~ #sub-0113 {
    max-height: 300px;
}

#ck-0113:checked ~ span #ico-0113 {
    transform: rotate(45deg);
}

#ck-0114:checked ~ #sub-0114 {
    max-height: 300px;
}

#ck-0114:checked ~ span #ico-0114 {
    transform: rotate(45deg);
}

#ck-0115:checked ~ #sub-0115 {
    max-height: 300px;
}

#ck-0115:checked ~ span #ico-0115 {
    transform: rotate(45deg);
}

@media (min-width: 460px) {
    .erp-main {
        background: steelblue;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
    }
  }




