:root {
    --erp-menu__altura: 1500px;
}

/* *****     Ícone     ***** */

.erp-menu__icone-container {
    background: rgba(255, 255, 255, .2);
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    left: 340px;
    border-radius: 500%;
    transition: 0.5s ease-in-out;
}

.erp-menu__icone-container:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, .5);
}

.erp-menu__icone-hamburger {
    display: block;
    width: 30px;
    height: 2px;
    background: white;
    position: relative;
    top: 24px;
    left: 9px;
    transition: 0.5s ease-in-out;
}
.erp-menu__icone-hamburger:before,
.erp-menu__icone-hamburger:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.erp-menu__icone-hamburger:before {
    top: -10px;
}

.erp-menu__icone-hamburger:after {
    bottom: -10px;
}

#erp-nav__ck-show:checked ~ label .erp-menu__icone-hamburger {
    transform: rotate(45deg);
    background: white;
}

#erp-nav__ck-show:checked ~ label .erp-menu__icone-hamburger:before {
    transform: rotate(90deg);
    top: 0;
    background: white;
}

#erp-nav__ck-show:checked ~ label .erp-menu__icone-hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
    background: white;
}

#erp-nav__ck-show:checked ~ label .erp-menu__icone-container {
    transition: 0.2s ease-in-out;
    background: rgba(0, 0, 0, .6);
}

#erp-nav__dropdown-fundo {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

#erp-nav__ck-show:checked ~ #erp-nav__dropdown-fundo {
    opacity: 1;
    transition: 0.5s ease-in-out;
}


@media (min-width: 460px) {

    
#erp-nav__ck-show:checked ~ .erp-nav {
    transform: translateX(600px);
    transition: all 0.5s ease-in-out; 
}
    
    .erp-menu__icone-container {
        left: 30px;
        transition: all 0.8s ease-in-out;
        background: rgba(255, 255, 255, .3);
    }

    #erp-nav__ck-show:checked ~ label .erp-menu__icone-container:hover {
        transition: all 0.2s ease-in-out;
        background: rgba(255, 255, 255, .6);
    }

    #erp-nav__ck-show:checked ~ label .erp-menu__icone-container {
        left: 450px;
        transition: all 0.3s ease-in-out;
        background: rgba(255, 255, 255, .3);
    }
    


    
}

/* *****     side-menu     ***** */

input[id^=ck-] {
    display: none;
}

#erp-nav__ck-show:checked ~ .erp-nav {
    transform: translateX(600px);
    transition: all .5s; 
}

.erp-nav {
    background: white;
    max-width: max-content;
    min-width: min-content;
    height: 100%;
    position: absolute;
    left: -600px;
    top: 0;
    transform: translateX(0px);
    transition: all .5s;
    padding-top: 20px;
    margin: 0;
    overflow-y: scroll;
}

.nerp-nav__space {
    margin-left: 8px;
}

.erp-nav__ul {
    height: 100%;
    padding: 0;
    margin: 0 0 0 10px;
}

.erp-nav__li {
    list-style: none;
    padding: 0px 0px;
    margin: 0;
    max-width: 400;
}

.erp-nav__label { 
    width: 100%;
    font-weight: normal;
    font-size: 1.2rem;
    margin-left: 6px;
}

.erp-nav__label:hover {
    cursor: pointer;
}

.erp-nav__alinha-icone {
    display: flex;
    align-items: center;
    
}


.ico {
    margin: 12px 0 0 0;
}



.ico {
    transform: rotate(0deg);
    transition: 0.2s ease-in-out;
}

input:checked ~ span .ico {
    transform: rotate(90deg);
    transition: 0.2s ease-in-out;
}

.ul-mostrar {
    margin: 0;
    padding: 2px 0 2px 20px;

}

/* *****     Esconde lista de subitens     ***** */
.ck-mostrar ~ .ul-mostrar  {
    transition: max-height 0.3s;
    overflow: hidden;
    max-height: 0px;
}

/* *****     Mostra lista de subitens     ***** */
.ck-mostrar:checked ~ .ul-mostrar {
    max-height: var(--erp-menu__altura);
    transition: 0.3s ease-in-out;
}

.erp-nav__li input:checked + label {
    font-weight: bold;
}

.ck-mostrar:checked ~ span label {
    font-weight: bold;
    color: grey;
}

@media (min-width: 460px) {
    
.erp-nav__li {
    max-width: 400px;
}

.erp-nav__label { 
    font-size: 1.1rem;
}
}


