.pessoa-container {
    background: steelblue;
    width: 100%;
    border: 1px solid white;
}

.pessoa-main {
    width: 100%;
    max-width: 600px;
    min-width: 410px;
}

.pessoa-main__title {
    margin-left: 5px;
    font-size: 1.5rem;
    color: white;
}

.pessoa-container__header-buttons {
    display: flex;
    justify-content: space-between;
}

.pessoa-form {
    width: 100%;
}

@media only screen and (min-width: 830px) {

    .pessoa-main__title {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 460px) {
    .pessoa-main {
        width: 60%;
        margin: 0 auto;
    }

    .pessoa-main__title {
        font-size: 2rem;
    }


    .pessoa-form {
        padding: 10px 30px;
    }

    
}