.btn-main {
    /* width: 150px;
    height: 30px;
    background: steelblue;
    color: white; */
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.btn-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-span-right {
    justify-content: flex-end;
}

.btn-center span {
    margin-right: 10px;
}

.btn-main:hover {
    filter: brightness(110%);
}