.form-form {
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 20px;
    background: rgb(228, 226, 226); 
    border: 1px solid grey;
    border-radius: 5px;
    min-width: 300px;
    overflow: hidden;

} 

.form-form-100 {
    width: 100%;
    padding: 10px 5px;
}

.form-inputBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-input-box-with-icon {
    display: flex;
}

.form-input-box-with-icon__icon {
    padding-top: 31px;
    margin-left: 10px;
}

.form-input-box-with-icon__icon:hover {
    cursor: pointer;
}

/* .inputBoxCPF {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-inputBox40 {
    display: flex;
    flex-direction: column;
    width: 150px;
} */

.form-checkboxBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid grey;
    margin-top: 15px;
    border-radius: 5px;
    background: white;
    justify-content: start;
    align-items: center;
}

.form-checkboxBox input {
    flex: 1;
    margin: 0px;
    width: 2px;
    padding: 0;
}

.form-checkboxBox label {
    flex: 9;
    padding-bottom: 10px;
}

.form label,
.form input,
.form select {
    display: inline-block;
}

label {
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-left: 8px;
}


.form-input{
    /* width: calc(100% - 0.5rem); */
    width: 100%;
    padding: 0.3rem 0 0.3rem 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    background: white;
    
}

input:disabled {
    background: lightgray;
}

.form-botaoBox {
    margin: 20px 80px;
    margin-top: 30px;
    display: flex;
    justify-content: start;
    background: steelblue;
    border-radius: 8px;
}

.form-botaoBox__button {
    padding: 6px;
    font-size: 1rem;
    border-radius: 10px;
    background: transparent;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: auto;
    border: none;
    text-align: center;
}

.form-radioBox {

    padding: 0 0rem 0 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    background: white;

}

.radioBoxLeft input, label {
    display: inline-block;
}


.radioBox2Col {
    flex: 1;
}

.form-radioBoxLinha {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;
}

.form-radioBoxLinha label{
    padding-bottom: 7px;
}

.radioBoxLinha label{
    margin: 0;
}

.radioBoxLinha input {
    margin-right: 10px;
    width: 30px;
}

/* 
.w100 {
    width: 100px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
} */

@media only screen and (min-width: 460px) {
    .form-form {
        width: 100%;
        margin: 0 auto;
    }


}