.log-bar__container {
    width: 100%;
    max-width: 1100px;
    background: navy;
    color: lightskyblue;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;

  
}

.log-bar__empresa {
    width: 100%;
 }
 .log-bar__usuario {
    width: 100%;
 }

 .log-bar__logout {
     width: 8%;
    min-width: 90px;
 }

 .log-bar__logout:hover {
    color: white;
    cursor: pointer;
 }

 @media (min-width: 800px) {
    .log-bar__container {
        height: 40px;
        flex-direction: row;
    }

    .log-bar__empresa {
        width: 50%;
     }
     .log-bar__usuario {
        width: 42%;
     }
    
     .log-bar__logout {
         width: 8%;
        min-width: 90px;
     }
 }
