
.on-off__button {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.on-off__button::before {
    content: '';
    transition: all 0.2s ease;
    display: inline-block;
    width: 6rem;
    height: 2.5rem;
    background: navy;
    border-radius: 4rem;
}

.on-off__button::after {
    content: '';
    transition: all 0.2s ease;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 2.2rem;
    height: 2.2rem;
    background: #fff;
    border-radius: 100%;
}

.on-off__checkbox:checked + .on-off__button::before {
    background: #55d069;
}

.on-off__checkbox:checked + .on-off__button::after {
    left: 3.6rem;
}
