.header {
    /* border: 1px solid grey; */
    display: flex;
    align-items: center;
    background: lightgray;
}

.headerTitle {
    font-weight: bold;
    margin-left: 30px;
}

.containerButton {
    width: 200px;
    background: steelblue;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

.containerButton button {
    font-size: 1rem;
    padding: 10px 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    
}

.containerButton button span {
text-align: center;
width: 100%;
display: inline-block;
}