.cadastro__container {
    background: steelblue;
    width: 100%;
    border: 1px solid white;
}

.cadastro__main {
    width: 100%;
    max-width: 600px;
    min-width: 375px;
}

.cadastro__title {
    margin-left: 5px;
    font-size: 1.3rem;
    color: white;
}

.cadastro__header-buttons {
    display: flex;
    justify-content: space-between;
}


.cadastro__form {
    width: 100%;
}

@media (min-width: 460px) {
    .form {
        padding: 20px;
        width: 400px;
        max-width: 500px;
        min-width: 350px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    }

    h2 {
        font-size: 2rem;
    }    

    .cadastro__form {
        padding: 10px 30px;
    }

    .cadastro__main {
        margin: 0 auto;
    }

    .cadastro__title {
        font-size: 1.5rem;
    }


}