

  /* @media print {
} */

/* @media print {
    body {
        counter-reset: chapternum;
      }
      
      ul::before {
        counter-increment: chapternum;
        content: counter(chapternum) ". ";
      }

    @page {
        size: A4 landscape;
    }



    ul {
            page-break-before:auto;
        
    }
} */