.app-main {
    width: 100%;
    height: 100%;
}

.w3 {
    width: 3px;
}

.w50 {
    width: 50px;
}

.w100 {
    width: 100px;
}

.w150 {
    width: 150px;
}

.w170 {
    width: 170px;
}

.w200 {
    width: 200px;
}

.w250 {
    width: 250px;
}

.w300 {
    width: 300px;
}

.w375 {
    width: 375px;
}

.w500 {
    width: 500px;
}

.w600 {
    width: 600px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

@media (min-width: 1px) and (max-width: 459px) {
    
}

