
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* @media print {
  body *:not(.print-section):not(.print-section *) {
    visibility: hidden;
  }

  .print-section {
    position: absolute;
    top: 0;
    left: 0;
  }
} */