.intra-fones__main {
    /* width: 100%; */
    margin: 10px;
    /* margin: 0 auto;
    height: 150px;
    background: #73fdcf;
    margin: 10px 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); */
}

.intra-fones__form {
    padding: 5px;
}

.intra-fones__buttons-Container {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    font-weight: bold;
    color: black;
}

.intra-fones__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    color: black;
    font-weight: none;
    display: flex;
    align-content: center;

}

.intra-fones__busca-container {
    display: flex;
}

.intra-fones__button-inside {
    padding: 0;
    /* position: absolute; */
    top: 38px;
    right: 10px;
}

/* .intra-fones__fecharfones-Container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
    background: steelblue;
    color: white;
    border-radius: 10px;
} */

.intra-fones__fecharfones-Container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
    /* background: steelblue; */
    color: grey;
    /* border-radius: 10px; */
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.intra-fones__input-container {
    display: flex; 
    flex-direction: column; 
    width: 100%;
}

.intra-fones__input {
    width: 100%;
    padding: 0.6rem 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    background: white;
    color: rgb(160, 161, 160);
}

.intra-fones__container-registro {
    border-bottom: 1px solid grey;
}

@media (min-width: 990px) {
    .intra-fones__main {
        width: 100%;
        margin: 10px 0;
    }
}